{% extends "dogs/base.html" %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row">
        {% for object in object_list %}
                {% include "reviews/includes/inc_review_card.html" with object=object %}
            {% endfor %}
    </div>
    <div class="active-btn">
        {% include "dogs/includes/inc_pagination.html" %}
    </div>
    <a class="btn btn-outline-primary" href="{% url 'reviews:review_create' %}">Добавить отзыв</a>
        <a class="btn btn-outline-secondary" href="{% url 'reviews:reviews_deactivated_list' %}">Деактивированные отзывы</a>
        <a class="btn btn-outline-success" href="{% url 'reviews:reviews_list' %}">Активированные отзывы</a>
</div>
{% endblock %}