{% load my_tags %}
    <div class="col-12 col-md-4">
      <div class="card dog-card box-shadow">
        <div class="card-header">
          <h3 class="card-text">{{ object.name }}</h3>
        </div>
        <div class="card-body">
          <img class="card-img-top dog-img" src="{{ object.img|dogs_media }}" alt="Dog img">
          <h3 class="card-text">{{ object.breed }}</h3>
          <a class="dog-btn" href="{% url 'dogs:dog_detail' object.pk %}">Информация</a>
          {% if user.is_authenticated and object.owner == user or user.is_staff %}
             <a class="dog-btn" href="{% url 'dogs:dog_update' object.pk %}">
               {% if user.role == "admin" or user.role == "moderator" %}
                Изменить/Удалить
               {% elif object.owner == user %}
                 Изменить
               {% endif %}
             </a>
          {% endif %}
        </div>
      </div>
    </div>
