{% extends 'dogs/base.html' %}

{% block content %}

<form class="row" method="post" enctype="multipart/form-data">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                {% if object %}
                   Обновление данных:
                {% else %}
                   Введите данные
                {% endif %}
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="sub-btn btn btn-outline-success">
                    {% if object %}
                       Сохранить
                    {% else %}
                       Добавить
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
</form>

{% endblock %}