{% extends "dogs/base.html" %}
{% load my_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card box-shadow detail-card">
                <img class="dog-detail-img"
                src="{{ object.img|dogs_media }}" alt="{{ object.breed.name }}">
                <div class="card-body">
                    <p class="card-text dog-name"><span class="dog_description">Имя собаки:</span> {{ object.name }}</p>
                    <p class="card-text"><span class="dog_description">Порода собаки:</span> {{ object.breed.name }}</p>
                    <p class="card-text"><span class="dog_description">Описание породы:</span> {{ object.breed.description }}</p>
                    <p class="card-text"><span class="dog_description">Имя владельца:</span> {{ object.owner.first_name|default:"Not specified" }}</p>
                    <p class="card-text"><span class="dog_description">Телефон владельца:</span> {{ object.owner.phone|default:"Not specified" }}</p>
                    <p class="card-text"><span class="dog_description">Адрес электронной почты владельца:</span> {{ object.owner.email|default:"Not specified" }}</p>
                    <p class="card-text"><span class="dog_description">Просмотры:</span> {{ object.views }}</p>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}