{% extends 'dogs/base.html' %}

{% block content %}

<form class="row" method="post" enctype="multipart/form-data">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                {% if object %}
                   Обновление данных:
                {% else %}
                   Введите данные
                {% endif %}
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="sub-btn btn btn-outline-success" type="submit"
                       value="{% if object %}Save{% else %}Add{% endif %}">
                <a class="sub-btn btn btn-outline-warning" href="{% url 'dogs:dog_toggle_activity' object.pk %}">
                    {% if object.is_active %}
                      Deactivation
                    {% else %}
                       Activation
                    {% endif %}
                </a>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-primary" href="{% url 'dogs:dogs_list' %}">Back</a>
                {% if object and user.is_superuser %}
                  <a class="btn btn-outline-danger" href="{% url 'dogs:dog_delete' object.pk %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                   {{ form.as_p }}
                   {% if not forloop.last %}
                      <hr>
                   {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</form>


{% endblock %}