.detail-card {
  border-radius: 6%;
  border-color: black;
  overflow: hidden;
}

.card-footer {
 width: 100%;
}

.detail-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.detail-btn {
  text-decoration: none;
  font-size: 24px;
  color: green;
  font-weight: bold;
}

.detail-btn:hover {
  text-decoration: underline;
  color: red;
}