.change-password-title {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.change-password-btn {
  font-weight: bold;
  color: green;
  border: 2px solid green;
  padding: 3px 25px;
  border-radius: 8px;
  background-color: #fff;
}

.change-password-btn:hover {
  color: #fff;
  background-color: green;
}