{% extends "dogs/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header profile-update-title">Изменить профиль</div>
                <div class="card-body">
                    <form class="profile-update-form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="profile-update-btn" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}