{% load my_tags %}
<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <h2>{{ object.dog.name }} / {{ object.dog.breed }}</h2>
        </div>
        <div class="card-body">
            <h3>{{ object.title|truncatechars:30 }}</h3>
            <ul>
                <li>Created: {{ object.created }}</li>
                <li>Author: {{ object.author }}</li>
            </ul>
            <a class="btn btn-outline-info" href="{% url 'reviews:review_detail' object.slug %}">More details</a>
             {% if user.is_superuser %}
            <a class="btn btn-danger" href="{% url 'reviews:review_delete' object.slug %}">Delete review</a>
            <a class="btn btn-warning" href="{% url 'reviews:review_update' object.slug %}">Change review</a>
            {% elif object.author == user %}
            <a class="btn btn-warning" href="{% url 'reviews:review_update' object.slug %}">Change review</a>
            {% elif user.is_staff %}
            <a class="btn btn-danger" href="{% url 'reviews:review_delete' object.slug %}">Delete review</a>
            {% endif %}
        </div>
    </div>
</div>